DISCORD_TOKEN=el_token_del_fokin_bot_pluh
OLLAMA_URL=http://ollama:11434/api/chat
OLLAMA_MODEL=your_model
AI_PASSWORD = AI_PASSWORD
OWNER_ID = OWNER_ID
N8N_RANDOM_WEBHOOK=tu_url_de_webhook_de_n8n_bro_no_te_voy_a_dar_la_mia
